{$SITE_HOST} {
	encode zstd gzip
	log {
		output stdout
		format json
	}

	request_body {
		max_size 12MB
	}

	@api path /v1/* /health /health/*
	handle @api {
		reverse_proxy api:4000
	}

	handle {
		reverse_proxy web:3000
	}

	header {
		-Server
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		X-XSS-Protection "0"
		Permissions-Policy "camera=(), geolocation=(), microphone=()"
	}
}
